<ul th:fragment="nav">
    <li><a href="/products">Главная страница</a></li>
    <li><a href="/product/new">Выложить объявление</a></li>
    <li sec:authorize="isAnonymous"><a href="/login">Страница логирования</a></li>
    <li sec:authorize="isAuthenticated">
        <a href="#">Личный кабинет</a>
        <ul class="submenu">
            <li><a th:href="@{'/user/' + ${principal.getName()}}">Мои данные</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </li>
    <li th:if="${#authorization.expression('hasAuthority(''ADMIN_ROLE'')')}">
        <a href="/users">Страница для администрирования</a></li>
    <li><a href="/about">О сайте</a></li>
</ul>
