<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/about-style.css">
</head>
<body>
<header>
    <h1>Добро пожаловать на сайт продаж</h1>
    <nav th:insert="~{fragments/navbar}"></nav>
</header>

<main>
    <div class="about-us">
        <img src="/image/about-us-photo.png" alt="About Us" class="about-us-image">

        <h2>О нас</h2>
        <p>Добро пожаловать на наш сайт, где вы можете найти и разместить объявления о продаже различных товаров.</p>
        <p>Мы создали этот ресурс, чтобы помочь людям найти интересующие их товары и легко продавать свои товары онлайн.</p>
        <p>Наша команда стремится сделать ваше онлайн-покупательское и продажное
            опыт приятным и безопасным.</p>
        <p>Спасибо, что выбрали наш сайт для ваших потребностей в продаже и покупке товаров.</p>
    </div>
</main>

<footer>
    <!-- Здесь может быть подвал сайта с дополнительной информацией -->
    <p>&copy; 2023 Сайт продаж</p>
</footer>
</body>
</html>
