<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login-style.css">
</head>
<body>
<header>
    <nav th:insert="~{fragments/navbar}"></nav>
</header>

<div class="login">
    <a href="/login">
        <button class="login-button">Вход</button>
    </a>
    <a href="/registration">
        <button class="registration-button">Регистрация</button>
    </a>
    <form method="post" th:action="@{/login}" class="registration-form">
        <label for="username">Логин</label>
        <input type="text" name="username" id="username">
        <label for="password">Пароль</label>
        <input type="text" name="password" id="password">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit">Войти</button>
    </form>
</div>

<footer>
    <!-- Здесь может быть подвал сайта с дополнительной информацией -->
    <p>&copy; 2023 Сайт продаж</p>
</footer>
</body>
</html>
