<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Такой продукт не найден</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <nav th:insert="~{fragments/navbar}"></nav>
</header>

<main>
    <h2>Такой продукт не найден</h2>
    <p>Извините, но продукт с указанным идентификатором не найден.</p>
</main>

<footer>
    <p>&copy; 2023 Сайт продаж</p>
</footer>
</body>
</html>
